#intro-cover {
  background-image: url(../images/bg2.jpg);
  background-attachment: local;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.bg-light {
  background-color: rgb(247, 223, 193) !important;
}

#intro-cover h1 {
  font-size: 5rem;
}

h2 {
  color: #044f52;
}

.bg-silver {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(222, 184, 135, 0.37) 50%,
    rgb(232, 240, 240) 100.2%
  );
}
#portfolio {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(222, 184, 135, 0.37) 50%,
    rgb(232, 240, 240) 100.2%
  );
}
#contact-me {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(222, 184, 135, 0.37) 50%,
    rgb(232, 240, 240) 100.2%
  );
}
#blog {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(222, 184, 135, 0.37) 50%,
    rgb(232, 240, 240) 100.2%
  );
}
#social {
  background-color: rgba(222, 184, 135, 0.37) !important;
}
#skills {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(222, 184, 135, 0.37) 50%,
    rgb(232, 240, 240) 100.2%
  );
}

footer {
  background-color: rgb(14, 31, 28);
  color: blanchedalmond;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.portfolio-item {
  transition: 0.6s;
}

.portfolio-item:hover {
  transform: scale(1.1);
  box-shadow: 20px 20px 60px #f3f3f1, -20px -20px 60px #979595;
}
img {
  height: 100%;
  width: 100%;
  display: flex;
}
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
.cursor-ptr:hover {
  cursor: pointer;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.img-fluid {
  height: 200px;
  width: 100%;
  display: flex;
}
